<nav class="navbar navbar-expand-lg navbar-light bg-light flex-md-column sidebar  column-1">
    <!--<a class="navbar-brand" href="#">Student Dashboard</a>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'supervisor_dashboard' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'mystudents' %}">My Students/Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'milestones' %}">Milestones/Uploads</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'announcement' %}">Announcements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'resource_upload' %}">Upload Resource</a>
        <!--<li class="nav-item">
          <a class="nav-link" href="{% url 'student_results' %}">Results</a>
        </li>-->
        <li class="nav-item">
          <a class="nav-link" href="#">My Profile</a>
        </li>
      </ul>
    </div>
  </nav>