<!-- change_password.html -->

{% extends "acounts/base.html" %}
{% load static %}

{% block content %}
    <div class="main-content-container container-fluid">
        <div class="row no-gutters h-100">
            <div class="col-lg-5 col-md-5 mx-auto my-auto">
                <div class="card mt-5 border-info">
                    <div class="card-header border-info">
                        <h4 class="text-center"><Strong>Change Password</Strong></h4>
                    </div>
                    <div class="card-body">
                        <form action="{% url "reset_password" %}" method="post">
                            {% csrf_token %}
                            <div class="form-group mb-4">
                                <label for="new_password1" class="form-label">New Password</label>
                                <input type="password" class="form-control" id="new_password1" name="new_password1" required>
                            </div>
                            <div class="form-group mb-4">
                                <label for="new_password2" class="form-label">Confirm New Password</label>
                                <input type="password" class="form-control" id="new_password2" name="new_password2" required>
                            </div>
                            <button type="submit" class="btn btn-info">Change Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
