<!-- password_reset.html -->

{% extends "acounts/base.html" %}
{% load static %}

{% block content %}
    <div class="main-content-container container-fluid">
        <div class="row no-gutters h-100">
            <div class="col-lg-5 col-md-5 mx-auto my-auto">
            {% if step == 'send_verification_code' %}
                <div class="card mt-5 border-info">
                    <div class="card-header border-info">
                        <h4 class="text-center"><Strong>Send Verification Code</Strong></h4>
                    </div>
                    <div class="card-body">
                        <form method="post" action="{% url 'password_reset' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="email" name="email" class="form-control" placeholder="Enter Email" required>
                            </div>
                            
                            <button type="submit" class="btn btn-info">Send Verification Code</button>
                        </form>
                    </div>
                </div>
            {% elif step == 'enter_verification_code' %}
                <div class="card mt-5 border-info">
                    <div class="card-header border-info">
                        <h4 class="text-center"><Strong>Verify Code</Strong></h4>
                    </div>
                    <div class="card-body">
                        <form method="post" action="{% url 'verify_code' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="text" class="form-control" name="verification_code" placeholder="Enter Verification Code" required>
                            </div>
                            <button type="submit" class="btn btn-info">Verify Code</button>
                        </form>
                    </div>
                </div>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
