<title>Student Uploads</title>
{% extends 'base_lec.html' %}
{% load static %}

{% block content %}

{% include 'column1_Lec.html' %}

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <ul class="nav nav-tabs" id="milestoneTabs">
          {% for phase_proposal in phase_proposals %}
            <li class="nav-item">
              <a class="nav-link {% if forloop.first %}active{% endif %}" id="phase-{{ phase_proposal.phase.id }}-tab" data-toggle="tab" href="#phase-{{ phase_proposal.phase.id }}">{{ phase_proposal.phase.name|title }}</a>
            </li>
          {% endfor %}
        </ul>

        <div class="tab-content" id="milestoneTabsContent">
          {% for phase_proposal in phase_proposals %}
            <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="phase-{{ phase_proposal.phase.id }}">
              <br><h5><b></b></h5>
              <div class="col-md-12 d-flex justify-content-end">
                <h6><b>Deadline: <p class="text-danger">{{ phase_proposal.phase.deadline_date }}</p></b></h6> 
              </div>

              <div class="card">
                <div class="card-header text-center">
                  <h4>Projects in {{ phase_proposal.phase.name }}</h4>
                </div>
                <div class="card-body">
                  <table class="table table-bordered table-hover table-striped border-info">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Reg No</th>
                        <th scope="col">Student Name</th>
                        <th scope="col">Project Title</th>
                        <!--<th scope="col">Upload Status</th>-->
                        <th scope="col">View Uploads</th>
                      </tr>
                    </thead>
                    <tbody>
                      
                      {% for proposal in phase_proposal.proposals %}
                        <tr>
                          <th scope="row">{{ forloop.counter }}</th>
                          <td>{{ proposal.student.regno|upper }}</td>
                          <td>{{ proposal.student.name }}</td>
                          <td>{{ proposal.project.title }}</td>
                          <!--<td>{{ documents.latest.status }}</td>-->
                          <td>
                            <a href="{% url 'view_student_upload' proposal.current_phase.id proposal.student.user_id %}">View Uploads</a>
                          </td>
                        </tr>
                      {% empty %}
                        <tr>
                          <td colspan="6">No students in this phase yet.</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

<link rel="stylesheet" href="{% static 'css/milestones_lec.css' %}">
{% endblock %}
