{% extends 'base.html' %}
{% load static %}


{% block content %}

<!-- Content Area -->
{% include 'column1_Lec.html' %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card border-info">
                <div class="card-header text-center">
                    <h4><b>My Projects & Students</b></h4>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-hover  table-striped border-info">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Reg No</th>
                            <th scope="col">Student Name</th>
                            <th scope="col">Project Title</th>
                            <th scope="col">Details</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for project in projects %}
                            <tr>
                              <th scope="row">{{project.index}}</th>
                              <td>{{project.student.regno|upper}}</td>
                              <td>{{project.student.name}}</td>
                              <td>{{project.title}}</td>
                              <td><a class="btn btn-info" href="{% url "student_project" project.id %}">View Details</a></td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                </div>
            </div>                
        </div>
              
    </div>
</div>
  
<link rel="stylesheet" href="{% static 'css/mystudents.css' %}">
{% endblock %}