{% extends 'base.html' %}
{% load static %}


{% block content %}

<!-- Content Area -->
{% include 'column1_Lec.html' %}

<!--Milestones-->

<div class="content">
    <div class="container-fluid">
        <!-- Horizontal Navigation Tabs -->
        <div class="row">
            <div class="col-md-12">
        
              <!-- Horizontal Navigation Tabs -->
              <ul class="nav nav-tabs" id="milestoneTabs">
                <li class="nav-item">
                  <a class="nav-link active" id="milestone1-tab" data-toggle="tab" href="#milestone1">Milestone 1</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="milestone2-tab" data-toggle="tab" href="#milestone2">Milestone 2</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="milestone3-tab" data-toggle="tab" href="#milestone3">Milestone 3</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="milestone4-tab" data-toggle="tab" href="#milestone4">Milestone 4</a>
                </li>
              </ul>
        
              <!-- Tab Content -->
              <div class="tab-content" id="milestoneTabsContent">
                <div class="tab-pane fade show active" id="milestone1">
                    <h3 style="width: 100%;">Milestone 1 Content</h3>
                    <p style="width: 100%">This is the content for Milestone 1.</p>
                    <div class="card">
                        <div class="card-header text-center">
                            <h4>Projects And Uploads</h4>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered table-hover  table-striped border-info">
                                <thead class="thead-dark">
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Reg No</th>
                                    <th scope="col">STudent Name</th>
                                    <th scope="col">Project Title</th>
                                    <th scope="col">Details</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td><button class="btn btn-success">View</button></td>
                                  </tr>
                                  <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                    <td><button class="btn btn-success">View</button></td>
                                  </tr>
                                  <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                    <td><button class="btn btn-success">View</button></td>
                                  </tr>
                                </tbody>
                              </table>
                              
                              <table class="table table-bordered table-hover  table-striped">
                                <thead class="thead-light">
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Reg No</th>
                                    <th scope="col">STudent Name</th>
                                    <th scope="col">Project Title</th>
                                    <th scope="col">Details</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td><button class="btn btn-success">View</button></td>
                                  </tr>
                                  <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                    <td><button class="btn btn-success">View</button></td>
                                  </tr>
                                  <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                    <td><button class="btn btn-success">View</button></td>
                                  </tr>
                                </tbody>
                              </table>
                              <a href="http://">View Milestone 1 Uploads</a>
                        </div>
                    </div>

                </div>


                <!-- Tab pane 2 contnet-->
                <div class="tab-pane fade" id="milestone2">
                  <h3>Milestone 2 Content</h3>
                  <p>This is the content for Milestone 2.</p>
                </div>


                <!-- Tab pane 3 contnet-->
                <div class="tab-pane fade" id="milestone3">
                  <h3>Milestone 3 Content</h3>
                  <p>This is the content for Milestone 3.</p>
                </div>


                <!-- Tab pane 4 contnet-->
                <div class="tab-pane fade" id="milestone4">
                  <h3>Milestone 4 Content</h3>
                  <p>This is the content for Milestone 4.</p>
                </div>
              </div>
              
            </div>
          </div>
    </div>
</div>
<!-- Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

<link rel="stylesheet" href="{% static 'css/milestones_lec.css' %}">
{% endblock %}