{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <h1 class="text-center" style="width: 100%; border-bottom:lightblue;">My Students Uploads</h1><br>
                <div class="card mb-5 bg-primary">
                    <div class="card-header text-center">
                        <b><h4>Allocated Students</h4></b>
                    </div>
                    <div class="card-body">
                        <h2 class="text-center">Total</h2>
                        <h4 class="text-center">20</h4>
                        <a href="http://" class="btn btn-primary">View</a>
                    </div>
                </div>
                <div class="card mb-5 bg-primary">
                    <div class="card-header text-center">
                        <b><h4>Allocated Projects</h4></b>
                    </div>
                    <div class="card-body">
                        <h2 class="text-center">Total</h2>
                        <h4 class="text-center">20</h4>
                        <a href="http://" class="btn btn-primary text-center">View</a>
                    </div>
                </div>
                <div class="card mb-5 bg-success">
                    <div class="card-header text-center">
                        <h4></h4><strong>Announcements</strong></h4>
                    </div>
                    <div class="card-body">
                        <h2 class="text-center">Announcements Made</h2>
                        <h4 class="text-center">20</h4>
                        <a href="http://" class="btn btn-primary">Make New Announcement</a>
                    </div>
                </div>
                <div class="card mb-5 bg-info">
                    <div class="card-header text-center">
                            <h4></h4><strong>Uploads</strong></h4>
                    </div>
                    <div class="card-body">
                            <h2 class="text-center">Total Student Uploads</h2>
                            <h4 class="text-center">100</h4><br>
                            <a href="http://" class="btn btn-primary">View Uploaded documents</a>
                    </div>
                </div>
                <div class="card mb-5 bg-warning">
                    <div class="card-header text-center">
                            <strong><h4>Milestones</h4></strong>
                    </div>
                    <div class="card-body">
                            <h2>Milestone 1</h2>
                            <h2>Milestone 1</h2>
                            <h2>Milestone 1</h2>
                            <h2>Milestone 1</h2>
                            <h2>Milestone 1</h2>
                            <h2>Milestone 1</h2>
                    </div>
                </div>
                <div class="card mb-5 bg-secondary">
                    <div class="card-header text-center">
                            <strong><h4>Calender</h4></strong>
                    </div>
                    <div class="card-body">
                            <h2>Calender goes here</h2>
                    </div>
                </div>
        </div>
              
    </div>
</div>
  
<link rel="stylesheet" href="{% static 'css/student_upload.css' %}">

{% endblock content %}