<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Milestones</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<!-- Content Area -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <!-- Horizontal Navigation Tabs -->
      <ul class="nav nav-tabs" id="milestoneTabs">
        <li class="nav-item">
          <a class="nav-link active" id="milestone1-tab" data-toggle="tab" href="#milestone1">Milestone 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="milestone2-tab" data-toggle="tab" href="#milestone2">Milestone 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="milestone3-tab" data-toggle="tab" href="#milestone3">Milestone 3</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="milestone4-tab" data-toggle="tab" href="#milestone4">Milestone 4</a>
        </li>
      </ul>

      <!-- Tab Content -->
      <div class="tab-content" id="milestoneTabsContent">
        <div class="tab-pane fade show active" id="milestone1">
          <h3>Milestone 1 Content</h3>
          <p>This is the content for Milestone 1.</p>
        </div>
        <div class="tab-pane fade" id="milestone2">
          <h3>Milestone 2 Content</h3>
          <p>This is the content for Milestone 2.</p>
        </div>
        <div class="tab-pane fade" id="milestone3">
          <h3>Milestone 3 Content</h3>
          <p>This is the content for Milestone 3.</p>
        </div>
        <div class="tab-pane fade" id="milestone4">
          <h3>Milestone 4 Content</h3>
          <p>This is the content for Milestone 4.</p>
        </div>
      </div>
      
    </div>
  </div>
</div>

<!-- Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
