{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Content Area -->
{% include 'column1.html' %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>Notifications</h1>
                {% for notification in notifications %}
                    <div class="card mb-3 border-info">
                        <div class="card-header border-info">
                            <b>From:</b> {{ notification.sender.name }}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><b>Message:</b></h5>
                            <p class="card-text text-info">{{ notification.message }}</p>
                            {% if not notification.read %}
                                <p class="text-muted">Unread</p>
                            {% endif %}
                        </div>
                        <div class="card-footer text-muted border-info">
                            <b>Sent:</b> {{ notification.created_at }}
                        </div>
                    </div>
                {% empty %}
                    <p>No notifications</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="{% static 'css/student_dashboard.css' %}">
{% endblock %}
