<!-- Student Dashboard Template -->
{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Content Area -->
{% include 'column1.html' %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <h1 class="text-center" style="width: 100%; border-bottom:lightblue;">Notifications</h1><br>
            <!-- Display Notifications -->
            {% for notification in notifications %}
                <div class="card mb-3 border-info">
                    <div class="card-header border-info text-center">
                        <b>From:</b> {{ notification.sender.name }}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><b>Message:</b></h5>
                        <p class="card-text text-info">{{ notification.message }}</p>
                        {% if not notification.read %}
                            <p class="text-muted">Unread</p>
                        {% endif %}                     
                    </div>
                    <div class="card-footer text-muted border-info">
                        {{ notification.created_at }}
                    </div>
                </div>
            {% endfor %}

            <!-- Display coordinator feedbacks -->
            {% for feedback in coordinator_feedbacks %}
                <div class="card mb-3 border-info">
                    <div class="card-header border-info text-center">
                        <b>From:</b> Projects Coordinator
                        
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><b>Message:</b></h5>
                        <p class="card-text text-info">{{ feedback.comment }}</p>
                        {% if not feedback.read %}
                            <p class="text-muted">Unread</p>
                        {% endif %}
                    </div>
                    <div class="card-footer text-muted border-info">
                        {{ feedback.created_at }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<link rel="stylesheet" href="{% static 'css/notifications.css' %}">
{% endblock %}
