{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'column1.html' %}

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <ul class="nav nav-tabs" id="milestoneTabs">
          {% for phase in phases %}
            <li class="nav-item">
              <a class="nav-link {% if forloop.first %}active{% endif %}" id="phase-{{ phase.id }}-tab" data-toggle="tab" href="#phase-{{ phase.id }}">{{ phase.name|title }}</a>
            </li>
          {% endfor %}
        </ul>

        <div class="tab-content" id="milestoneTabsContent">
          {% for phase in phases %}
            <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="phase-{{ phase.id }}">
              <div class="row">
                <div class="col-md-6">
                  <h5 class="text-info"><b>Description</b></h5>
                  <p>{{ phase.description }}</p>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                  <h6><b>Deadline: </b></h6> <p class="text-danger"> {{ phase.deadline_date }}</p>
                </div>
              </div>    

              <div class="card">
                <div class="card-header text-center">
                  <h4>My Uploads</h4>
                </div>
                <div class="card-body">
                  <table class="table table-bordered table-hover table-striped border-info">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Document Name</th>
                        <th scope="col">Upload Status</th>
                        <th scope="col">View</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for document in phase.documents.all %}
                        {% if document.student == request.user %}
                          <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ document.file_name }}</td>  
                            <td>{{ document.status }}</td>
                            <td>
                              <a href="{{ document.file.url }}" target="_blank" type="application/pdf">View</a>
                            </td>
                          </tr>
                        {% endif %}
                      {% empty %}
                        <tr>
                          <td colspan="4" class="text-center text-danger">No documents uploaded for this phase yet.</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  <!-- Upload Document form -->
                  {% if not phase.approved_documents_exist%}
                  <div class="row mb-3">
                    <div class="col-md-12">
                      <form action="{% url 'upload_file' %}" method="post" enctype="multipart/form-data" class="form-inline">
                        {% csrf_token %}
                        <input type="hidden" name="phase" value="{{ phase.id }}">
                        <div class="form-group mr-2">
                          <label for="document_file" class="sr-only">Document File:</label>
                          <input type="file" name="document_file" id="document_file" class="form-control" required>
                        </div>
                        <div class="form-group mr-2">
                          <label for="explanation" class="sr-only">Explanation:</label>
                          <textarea class="form-control" name="explanation" id="explanation" rows="1" placeholder="Brief explanation......" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Upload</button>
                      </form>
                      {% if error %}
                      <h4>{{error}}</h4>
                      {% endif %}
                    </div>
                  </div>
                  {% else %}
                  <tr>
                    <td colspan="4" class="text-center text-danger">You completed this phase</td>
                  </tr>
                  {% endif %}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

  <link rel="stylesheet" href="{% static 'css/milestones_lec.css' %}">
  {% endblock %}