{% extends 'base.html' %}
{% load static %}


{% block content %}

<!-- Content Area -->
{% include 'column1_cord.html' %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card border-info">
                <div class="card-header text-center">
                    <h5>Uploaded Projects</h5>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-hover  table-striped border-info">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Reg No</th>
                                <th scope="col">Title</th>
                                <th scope="col">Supervisor</th>
                                <th scope="col">Date Uproved</th>                                
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>Mark</td>
                                <td><a href=""> View Project </a></td>            
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                                <td>Mark</td>
                                <td><a href=""> View Project </a></td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                                <td>Mark</td>
                                <td><a href=""> View Project </a></td>
                            </tr>
                            </tbody>
                    </table>
                </div>
            </div>                
        </div>
              
    </div>
</div>
  
<link rel="stylesheet" href="{% static 'css/mystudents.css' %}">
{% endblock %}