{% extends 'base_cord.html' %}
{% load static %}


{% block content %}

<!-- Content Area -->
{% include 'column1_cord.html' %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card border-info">
                <div class="card-header text-center">
                    <h5>Completed Projects</h5>
                </div>
                
                <div class="card-body">
                    <table class="table table-bordered table-hover  table-striped border-info">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Reg No</th>
                                <th scope="col">Name</th>  
                                <th scope="col">Title</th>
                                <th scope="col">Supervisor</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if projects.exists %}
                                {% for project in projects %}
                                    <tr>
                                        <th scope="row">{{forloop.counter}}</th>
                                        <td>{{project.student.regno|upper}}</td>
                                        <td>{{project.student.name|upper}}</td>
                                        <td>{{project.title|upper}}</td>
                                        <td>{{project.lecturer.name|title}}</td>  
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="6" class="text-center text-danger">No approved projects found.</td>
                                </tr>
                            {% endif %}  
                        </tbody>
                    </table>
                </div>
            </div>                
        </div>
              
    </div>
</div>
  
<link rel="stylesheet" href="{% static 'css/mystudents.css' %}">
{% endblock %}