{% extends "base_cord.html" %}
{% load static %}

{% block content %}
{% include "column1_cord.html" %}
<div class="content">
    <div class="container-fluid">
        <di class="row">
            <div class="card mb-5 bg-primary">
                <div class="card-body text-light">
                    <div class="row">
                        <div class="col-md">
                            <h1 class="text-center text"><b>{{supervisor_count}}</b></h1>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md text-center">
                            <h4><b>Supervisors</b></h4>
                        </div>
                    </div>
                    
                </div>
                <div class="card-footer text-center ">
                    <a href="{% url "add_supervisor" %}" class="btn btn-primary">Add Supervisor</a>
                    <a href="{% url "view_supervisors" %}" class="btn btn-success">View All</a>
                </div>
            </div>
            <div class="card mb-5 bg-primary">
                <div class="card-body text-light">
                    <div class="row">
                        <div class="col-md">
                            <h1 class="text-center"><b>{{student_count}}</b></h1>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md text-center">
                            <h4><b>Registered Students</b></h4>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center ">
                   <a href="{% url "registered_students" %}" class="btn btn-primary text-center">View All</a>
                </div>
            </div>
            <div class="card mb-5 bg-success">
                <div class="card-body">
                    <div class="row text-light">
                        <div class="col-md">
                            <h1 class="text-center"><b>{{project_count}}</b></h1>
                        </div>
                    </div>
                    <br>
                    <div class="row text-center text-light">
                        <div class="col-md">
                           <h4><strong>Titles</strong></h4> 
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center ">
                    <a href="{% url "view_projects" %}" class="btn btn-primary">View All</a>
                </div>
            </div>
            <div class="card mb-5 bg-info">
                <div class="card-body">
                    <div class="row text-light">
                        <div class="col-md">
                            <h1 class="text-center"><b>{{approved_count}}</b></h1>
                        </div>
                    </div>
                    <br>
                    <div class="row text-center text-light">
                        <div class="col-md">
                           <h4><strong>Approved Titles</strong></h4> 
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center ">
                    <a href="{% url "approved_titles" %}" class="btn btn-primary">View All</a>
                </div>
            </div>
            <div class="card mb-5 bg-info">
                <div class="card-body">
                    <div class="row text-light">
                        <div class="col-md">
                            <h1 class="text-center"><b>{{pending_count}}</b></h1>
                        </div>
                    </div>
                    <br>
                    <div class="row text-center text-light">
                        <div class="col-md">
                           <h4><strong>Pending Titles</strong></h4> 
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center ">
                    <a href="{% url "pending_titles" %}" class="btn btn-primary">View All</a>
                </div>
            </div>
            <div class="card mb-5 bg-warning">
                <div class="card-body text-center">
                    <div class="row text-light">
                        <div class="col-md">
                            <h1 class="text-center"><b>{{phase_count}}</b></h1>
                        </div>
                    </div>
                    <br>
                    <div class="row text-center text-light">
                        <div class="col-md">
                           <h4><strong>Milestones</strong></h4> 
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center ">
                    <a href="{% url "view_phases" %}" class="btn btn-primary">View All</a>
                </div>
            </div>
            <div class="card mb-5 bg-secondary">
                <div class="card-body text-center">
                    <div class="row text-light">
                        <div class="col-md">
                            <h1 class="text-center"><b>{{active_count}}</b></h1>
                        </div>
                    </div>
                    <br>
                    <div class="row text-center text-light">
                        <div class="col-md">
                           <h4><strong>Active Projects</strong></h4> 
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center ">
                    <a href="{% url "view_milestones" %}" class="btn btn-primary">View Projects</a>
                </div>
            </div>
            <div class="card mb-5 bg-dark">
                <div class="card-body text-center">
                    <div class="row text-light">
                        <div class="col-md">
                            <h1 class="text-center"><b>{{complete_count}}</b></h1>
                        </div>
                    </div>
                    <br>
                    <div class="row text-center text-light">
                        <div class="col-md">
                           <h4><strong>Completed Projects</strong></h4> 
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center ">
                    <a href="{% url "view_milestones" %}" class="btn btn-primary">View Projects</a>
                </div>
            </div>
        </div>
              
    </div>
</div>
  
<link rel="stylesheet" href="{% static 'css/student_dashboard.css' %}">


{% endblock %}