{% extends "base.html" %}
{% load static %}

{% block content %}
{% include "column1_cord.html" %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <h1 class="text-center" style="width: 100%; border-bottom:lightblue;">Announcements</h1><br>
                <div class="card mb-5 bg-primary">
                    <div class="card-header text-center">
                        <b><h4>Supervisors</h4></b>
                    </div>
                    <div class="card-body">
                        <h2 class="text-center">Total</h2>
                        <h4 class="text-center">{{supervisor_count}}</h4>
                        <a href="{% url "add_supervisor" %}" class="btn btn-primary">Add Supervisor</a>
                        <a href="{% url "view_supervisors" %}" class="btn btn-primary">View All</a>
                    </div>
                </div>
                <div class="card mb-5 bg-primary">
                    <div class="card-header text-center">
                        <b><h4>Registered Students</h4></b>
                    </div>
                    <div class="card-body">
                        <h2 class="text-center">Total</h2>
                        <h4 class="text-center">{{student_count}}</h4>
                        <a href="{% url "registered_students" %}" class="btn btn-primary text-center">View All</a>
                    </div>
                </div>
                <div class="card mb-5 bg-success">
                    <div class="card-header text-center">
                        <h4></h4><strong>Project Titles</strong></h4>
                    </div>
                    <div class="card-body">
                        <h4 class="text-center">Total: <b>{{project_count}}</b></h4>
                        <a href="{% url "view_projects" %}" class="btn btn-primary">View All</a>
                    </div>
                </div>
                <div class="card mb-5 bg-info">
                    <div class="card-header text-center">
                        <h4></h4><strong>Approved Titles</strong></h4>
                    </div>
                    <div class="card-body">
                        <h4 class="text-center">{{approved_count}}</h4><br>
                        <a href="{% url "approved_titles" %}" class="btn btn-primary">View All</a>
                    </div>
                </div>
                <div class="card mb-5 bg-info">
                    <div class="card-header text-center">
                        <h4></h4><strong>Pending Titles</strong></h4>
                    </div>
                    <div class="card-body">
                        <h2 class="text-center">Total</h2>
                        <h4 class="text-center">{{pending_count}}</h4><br>
                        <a href="{% url "pending_titles" %}" class="btn btn-primary">View All</a>
                    </div>
                </div>
                <div class="card mb-5 bg-warning">
                    <div class="card-header text-center">
                        <strong><h4>Milestones</h4></strong>
                    </div>
                    <div class="card-body">
                        <h2>Milestone 1</h2>
                        <h2>Milestone 2</h2>
                        <h2>Milestone 3</h2>
                        <a href="http://" class="btn btn-primary">View All</a>
                    </div>
                </div>
                <div class="card mb-5 bg-secondary">
                    <div class="card-header text-center">
                            <strong><h4>Active Projects</h4></strong>
                    </div>
                    <div class="card-body">
                        <h2>50</h2>
                        <a href="" class="btn btn-primary">View All</a>
                    </div>
                </div>
                <div class="card mb-5 bg-secondary">
                    <div class="card-header text-center">
                        <strong><h4>Completed Projects</h4></strong>
                    </div>
                    <div class="card-body">
                        <h2>50</h2>
                        <a href="" class="btn btn-primary">View All</a>
                    </div>
                </div>
        </div>
              
    </div>
</div>
  
<link rel="stylesheet" href="{% static 'css/student_dashboard.css' %}">


{% endblock %}