{% extends 'base.html' %}
{% load static %}


{% block content %}

<!-- Content Area -->
{% include 'column1_cord.html' %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card mb-5 border-info">
                <div class="card-header text-center">
                    <h3 class="auth-form__title text-center mb-4"><Strong>Make Announcement</Strong></h3>
                </div>
                <div class="card-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="subject"><b>Subject</b></label>
                            <input type="text" class="form-control" id="subject" placeholder="Announcement on" name="subject">
                        </div>
                        <div class="form-group">
                            <label for="Message"><b>Message</b></label><br>
                            <textarea name="message" id="Message" cols="50" rows="7" placeholder="Type Your Message Here...."></textarea>
                        </div>
                        <div class="form-group">
                             <button type="submit"class="btn btn-success">Submit</button>
                        </div>
                    </form>
                 </div>
            </div>
                
        </div>
              
    </div>
</div>
  
<link rel="stylesheet" href="{% static 'css/upload_title.css' %}">
{% endblock %}