{% extends 'base_cord.html' %}
{% load static %}


{% block content %}

<!-- Content Area -->
{% include 'column1_cord.html' %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card border-info">
                <div class="card-header text-center">
                    <h5>Uploaded Projects</h5>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-hover  table-striped border-info">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Reg No</th>
                                <th scope="col">Title</th>
                                <th scope="col">Date Uploaded</th>                                
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if projects.exists %}
                                {% for project in projects %}
                                    <tr>
                                        <th scope="row">{{project.index}}</th>
                                        <td>{{project.reg_number|upper}}</td>
                                        <td>{{project.title|upper}}</td>
                                        <td>{{project.created_at}}</td>
                                        <td><a href="{% url "view_project_details" project.id %}"> View Details </a></td>            
                                    </tr> 
                            {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="6" class="text-center text-danger">No Pending projects found.</td>
                                </tr>
                            {% endif %}
                            
                            
                        </tbody>
                    </table>
                </div>
            </div>                
        </div>
              
    </div>
</div>
  
<link rel="stylesheet" href="{% static 'css/mystudents.css' %}">
{% endblock %}