<title>Profile</title>
{% extends 'base_cord.html' %}
{% load static %}


{% block content %}

<!-- Content Area -->
{% include "column1_cord.html" %}
<div class="content">
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-md">
                <div class="card border-info bg-muted">
                    <div class="card-header border-info text-center">
                        <h4><b>Personal Details</b></h4>
                    </div>
                    <div class="card-body">
                        <div class="row"> <br>
                            <div class="col-md">
                                <h4><b>Username</b> </h4>
                                <p class="text-primary">{{user.username|title}} </p>                           
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <h4><b>Email</b></h4>
                                <p class="text-primary">{{user.email}}</p>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
        
        <div class="row mb-3">   
            <div class="col-md">
                <div class="card border-info">
                    <div class="card-header text-center border-info">
                        <h3><b>Update Personal Details</b></h3>
                    </div>
                    <div class="card-body">
                        
                        <div class="card-body">
                            {% if error_message %}
                            <div class="alert alert-danger" role="alert">
                                {{ error_message }}
                            </div>
                            {% endif %}
                            {% if success_message %}
                            <div class="alert alert-info" role="alert">
                                {{ success_message }}
                            </div>
                            {% endif %}
                            <form action="{% url "coordinator_update_details" %}" method="post">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="fullName"><b>Username </b></label>
                                            <input type="text" class="form-control" id="fullName" placeholder="Enter Full Name" name="names" value="{{user.username}}" required>
                                            <i class="text-muted text-danger">No Spacing use underscore</i>
                                        </div>
                                    </div> 
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="email"><b>Email</b></label>
                                            <input type="email" class="form-control" id="email" placeholder="Email" name="email" value="{{user.email}}" required>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-info">Save Changes</button>
                            </form>
                        </div>    
                    </div>
                </div>
            </div>  
        </div>
        <div class="row mb-3">   
            <div class="col-md">
                <div class="card border-info">
                    <div class="card-header text-center text-danger border-info">
                        <h3><b>Change Password</b></h3>
                    </div>
                    <div class="card-body">
                        
                        <div class="card-body">
                            {% if error_message %}
                            <div class="alert alert-danger" role="alert">
                                {{ error_message }}
                            </div>
                            {% endif %}
                            {% if success_message %}
                            <div class="alert alert-info" role="alert">
                                {{ success_message }}
                            </div>
                            {% endif %}
                            <form action="{% url "coordinator_update_details" %}" method="post">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="old_password"><b>Old Password</b></label>
                                            <input type="password" class="form-control" id="old_password" placeholder="Enter Old Password" name="old_password" required>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="new_password"><b>New</b></label>
                                            <input type="password" class="form-control" id="new_password" placeholder="Enter New Password" name="new_password" required>
                                        </div>
                                        
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="confirm_pass"><b>Cormfirm</b></label>
                                            <input type="password" class="form-control" id="confirm_pass" placeholder="Repeat Password" name="confirm_pass" required>
                                        </div>
                                    </div>  
                                </div>
                                <button type="submit" class="btn btn-info">Save Changes</button>  
                            </form>
                        </div>    
                    </div>
                </div>
            </div>  
        </div>              
    </div>
</div>
  
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}
