<title>Registration Settings</title>
{% extends 'base_cord.html' %}
{% load static %}


{% block content %}

<!-- Content Area -->
{% include 'column1_cord.html' %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card mb-5 border-info">
                <div class="card-header text-center border-info">
                    <h3 class="text-center"><Strong>Update Settings</Strong></h3>
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'update_registration_settings' %}">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="registration_open">Registration Open:</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <input type="checkbox" class="form-check-input" id="registration_open" name="registration_open" {% if settings.open %} checked {% endif %}>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="allowed_intake_year">Allowed Intake Year:</label>
                            <input type="number" class="form-control" id="allowed_intake_year" name="allowed_intake_year" value="{{ settings.allowed_year }}">
                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
            
            <!-- Dispatch Confirmation Modal -->
            <div class="modal" tabindex="-1" role="dialog" id="dispatchConfirmationModal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Dispatch Confirmation</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to dispatch all students? This action cannot be undone.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <a href="{% url 'dispatch_students' %}" class="btn btn-danger">Confirm Dispatch</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Dispatch Button -->
            <div class="card mb-5 border-info">
                <div class="card-header text-center border-info">
                    <h3 class="text-center"><Strong>Dispatch Students</Strong></h3>
                </div>
                <div class="card-body">
                    <div class="text-center mt-3">
                        <button id="dispatchButton" type="button" class="btn btn-danger" data-toggle="modal" data-target="#dispatchConfirmationModal">Dispatch </button>
                    </div>  
                </div>
            </div>
                          
        </div>              
    </div>
</div>
  
<link rel="stylesheet" href="{% static 'css/upload_title.css' %}">
<style>
    input[type="checkbox"] { 
            width: 1.3em; 
            height: 1.3em; 
        }
</style>
{% endblock %}