<title>Registered Students</title>
{% extends 'base_cord.html' %}
{% load static %}


{% block content %}

<!-- Content Area -->
{% include 'column1_cord.html' %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card border-info">
                <div class="card-header text-center">
                    <h4><b>Registered Students</b></h4>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-hover  table-striped border-info">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col"><b>#</b></b></th>
                                <th scope="col"><b>Reg No</b></th>
                                <th scope="col"><b>Student Name</b></th>
                                <th scope="col"><b>Email</b></th>
                                <th scope="col"><b>Phone No.</b></th>
                                <th scope="col"><b>Intake Year</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for student in students %}
                                <tr>
                                    <th scope="row">{{forloop.counter}}</th>
                                    <td>{{student.regno|upper }}</td>
                                    <td>{{student.name|title}}</td>
                                    <td>{{student.email}}</td>
                                    <td>{{student.phone_number}}</td> 
                                    <td>{{student.intake_year}}</td>            
                                </tr>
                            {% endfor %}                            
                            
                        </tbody>
                    </table>
                </div>
            </div>                
        </div>
              
    </div>
</div>
  
<link rel="stylesheet" href="{% static 'css/mystudents.css' %}">
{% endblock %}