<title>SPMS | Supervisors</title>
{% extends "base_cord.html" %}
{% load static %}

{% block content %}
{% include "column1_cord.html" %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- Print button -->
            <div class="text-center mt-3 ml-3">
                <button id="print-button" onclick="printTable()" class="btn btn-info">Print Table</button>
            </div>
            {% if success_message %}
              <div class="alert alert-info" role="alert">
                  {{ success_message }}
              </div>
            {% endif %}
            <div class="card border-info">
                <div class="card-header text-center">
                    <h4><b>Supervisors</b></h4>
                </div>
                <div class="card-body">
                    <table id="print-table" class="table table-bordered table-hover  table-striped border-info">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone</th>                                
                                <th scope="col">Projects</th>
                                <th scope="col">Reset</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for supervisor in supervisors %}
                              <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td><b>{{supervisor.name|title}}</b></td>
                                <td>{{supervisor.email}}</td>
                                <td>{{supervisor.phone}}</td>
                                <td>{{supervisor.project_count}}</td>
                                <td>
                                    <form action="{% url 'supervisor_reset' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="lecturer_id" value="{{ supervisor.user_id }}">
                                        <button type="submit"  class="btn btn-success" onclick="return confirm('Reset Password for {{supervisor.name}}?')">Reset Password</button>
                                    </form>
                                <td>
                                    <div class="row">
                                        <div class="col-4">
                                            <form action="{% url 'view_supervisors' %}" method="POST">
                                                {% csrf_token %}
                                                <input type="hidden" name="lecturer_id" value="{{ supervisor.user_id }}">
                                                <button type="submit"  class="btn btn-danger" onclick="return confirm('Are you sure you want to delete {{supervisor.name}}?')"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                            </form>
                                        </div>
                                        <div class="col-4">
                                            <a href="{% url 'edit_lecturer' supervisor.user_id %}" class="btn btn-info"><i class="fa fa-edit" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>                
        </div>
              
    </div>
</div>

<script>
    function printTable() {
        // Hide the header
        var header = document.querySelector('header');
        header.style.display = 'none';
        
        // Hide button 
        var button = document.querySelector('#print-button');
        button.style.display = 'none';
    
        // Hide the action column
        var actionColumn = document.querySelectorAll('#print-table th:last-child, #print-table td:last-child');
        actionColumn.forEach(function(element) {
            element.style.display = 'none';
        });
    
        // Add title to the top center of the page
        var currentDate = new Date().toLocaleDateString();
        var title = "OXFORD UNIVERSITY <br> Bsc. COMPUTER SCIENCE <br> COSC 484: Computer System Project";
        var titleDiv = document.createElement('div');
        titleDiv.style.position = 'absolute';
        titleDiv.style.top = '10px';
        titleDiv.style.left = '50%';
        titleDiv.style.transform = 'translateX(-50%)';
        titleDiv.style.textAlign = 'center';
        titleDiv.style.fontWeight = 'bold';
        titleDiv.innerHTML = title;
        document.body.appendChild(titleDiv);
    
        // Print the table
        window.print();
    
        // Remove the title and date divs
        document.body.removeChild(titleDiv);
    
        // Show the header again
        header.style.display = '';
    
        // show button again
        var button = document.querySelector('#print-button');
        button.style.display = '';
    
        // Show the action column again
        actionColumn.forEach(function(element) {
            element.style.display = '';
        });
    }
</script>

<link rel="stylesheet" href="{% static 'css/mystudents.css' %}">


{% endblock %}