<title>phases</title>
{% extends "base_cord.html" %}
{% load static %}

{% block content %}
{% include "column1_cord.html" %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            {% if success_message %}
              <div class="alert alert-info" role="alert">
                  {{ success_message }}
              </div>
            {% endif %}
            <div class="card border-info">
                <div class="card-header text-center">
                    <h4><b>Phases</b></h4>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-hover  table-striped border-info">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Description</th>
                                <th scope="col">Deadline</th> 
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for phase in phases %}
                              <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td><b>{{phase.name|title}}</b></td>
                                <td>{{phase.description|title}}</td>
                                <td class="text-info"><b>{{phase.deadline_date}}</b></td>
                                <td>
                                    <div class="row">
                                        <div class="col-4">
                                            <form action="{% url 'view_phases' %}" method="POST">
                                                {% csrf_token %}
                                                <input type="hidden" name="phase_id" value="{{ phase.id }}">
                                                <button type="submit"  class="btn btn-danger" onclick="return confirm('Are you sure you want to delete {{phase.name}}?')"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                            </form>
                                        </div>
                                        <div class="col-4">
                                            <a href="{% url 'edit_phase' phase.id %}" class="btn btn-info"><i class="fa fa-edit" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>                
        </div>
              
    </div>
</div>
<!-- Include Bootstrap JavaScript library -->
<link rel="stylesheet" href="{% static 'css/mystudents.css' %}">


{% endblock %}