{% extends "base_cord.html" %}
{% load static %}

{% block content %}
{% include "column1_cord.html" %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
          {% with messages as messages %}
              {% if messages %}
                  <ul class="messages">
                      {% for message in messages %}
                          <li class="message {{ message.tags }}">
                              {{ message }}
                          </li>
                      {% endfor %}
                  </ul>
              {% endif %}
          {% endwith %}
            <div class="card mb-5">
                <div class="card-header text-center">
                    <h4 class="text-success"><b>Project Details</b></h4>
                </div>

                <div class="card mb-5 mt-3">
                    <div class="card-body">
                        <u class="text-center text-success"><h4 ><strong >Project Title</strong></h4></u>
                        <h2 class="text-center">{{project.title|upper}}</h2>
                    </div>
                </div>

                <div class="card mb-5">
                    <div class="card-body">
                        <u class="text-center text-success"><h4> <strong >Project Description</strong></h4></u>
                        <p>{{project.description}}</p>
                    </div>                    
                </div>

                <div class="card mb-5">
                    <div class="card-body">
                        <u class="text-center text-success"><h4 ><strong >Project Objectives</strong></h4></u>
                        <p>{{project.objectives|linebreaks}}</p>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#approveModal">Approve</button>
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#rejectModal">Reject</button>
                    </div>

                    <!-- Approval form -->
                    <div class="modal fade" id="approveModal" tabindex="-1" role="dialog" aria-labelledby="approveModalLabel" aria-hidden="true">
                        <!-- Your modal content here -->
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="approveModalLabel">Approve Project</h5>
                              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <form action="{% url "approve_title" project.id %}" method="post" id="approve_form">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="hidden" id="project_id" value="{{ project.id }}">
                                </div>
                                <div class="form-group">
                                  <label for="allocated_lecturer">Allocate Lecturer:</label>
                                  <select class="form-control" id="allocated_lecturer" name="allocated_lecturer">
                                    <option value="">select</option>
                                    {% for lecturer in lecturer %}
                                        <option value="{{ lecturer.user_id }}">{{ lecturer.name }}</option>
                                    {% endfor %}
                                  </select>
                                </div>
                                <div class="form-group">
                                  <label for="comment">Comment <i class="text-muted">(Optional)</i>:</label>
                                  <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
                                </div>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-info" id="submit_approval">Submit</button>
                            
                              </form>
                            </div>
                            <div class="modal-footer">
                              </div>
                            
                          </div>
                        </div>
                    </div>
                    <!-- End Approval form -->

                    <!-- Rejection form-->
                    <div class="modal fade" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="rejectModalLabel" aria-hidden="true">
                      <!-- Your modal content here -->
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title text-center" id="rejectModalLabel">Reject Project Title</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form action="{% url "reject_title" project.id %}" method="post" id="reject_form">
                              {% csrf_token %}
                              <div class="form-group">
                                  <input type="hidden" id="project_id" value="{{ project.id }}">
                              </div>
                              <div class="form-group">
                                <label class="text-danger" for="reason">Reason for Rejection</label>
                                <textarea class="form-control" id="reason" name="reason" rows="3" required></textarea>
                              </div>
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <button type="submit" class="btn btn-info" id="submit_approval">Submit</button>
                          
                            </form>
                          </div>
                          <div class="modal-footer">
                            </div>
                          
                        </div>
                      </div>
                  </div>

                    <!-- End of Rejection form-->

                </div>
            </div>            
        </div> 
    </div>
</div>

<!-- Include Bootstrap JavaScript library -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="{% static 'css/viewproject.css' %}">

{% endblock %}