{% extends "base.html" %}
{% load static %}

{% block content %}
{% include "column1_cord.html" %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <h1 class="text-center" style="width: 100%; border-bottom:lightblue;">Announcements</h1><br>
            <div class="card mb-">
                <div class="card-header text-center">
                    <b><h4>Project Title</h4></b>
                </div>
                <div class="card-body">
                    <h2 class="text-center">Projects Management System for Departments</h2>
                </div>
            </div>
            <div class="card mb-5">
                <div class="card-header text-center">
                    <strong><h4>Milestones</h4></strong>
                </div>
                <div class="card-body">
                    <h2>Milestone 1</h2>
                    <h2>Milestone 2</h2>
                    <h2>Milestone 3</h2>
                </div>
            </div>
            <div class="card mb-5">
                <div class="card-header text-center">
                    <h4><strong>Project Description</strong></h4>
                </div>
                <div class="card-body">
                    <h4 class="text-center">Description goes here</h4>
                </div>
                <a href="" class="btn btn-primary">Approve</a>
                <a href="" class="btn btn-danger">Reject</a>
                <a href="" class="btn btn-success">Allocate Supervising Lecturer</a>
            </div>
        </div> 
    </div>
</div>
  
<link rel="stylesheet" href="{% static 'css/student_dashboard.css' %}">


{% endblock %}